extends layout

block content
  
  if message
    div(class='notification-div')
      // I should include font-awesome for this!
      a(href='#', onclick='removeNotification();', class='close-notification-button')
        i(class='fa fa-times-circle')
      h1(class='console-notification') Notification!
      p= message

  div(class='title-bar')
    span(class='emphasis') Rutgers Day 
    span(class='normal') Administration Interface
    a(href='/logout', class='logout-button') Log Out
  
  div(class='content')
    
    div(class='left-content')
      div(class='admin-component')
        h2 Programs CSV
        a(class='download-button', href='/data/programs.csv') Download
        form(action='programs-csv', method='post', enctype='multipart/form-data')
          input(type='file', name='programs-csv')
          br
          input(type='submit')

      div(class='admin-component')
        h2 Performances CSV
        a(class='download-button', href='/data/performances.csv') Download
        form(action='performances-csv', method='post', enctype='multipart/form-data')
          input(type='file', name='performances-csv')
          br
          input(type='submit')

      div(class='admin-component')
        h2 Stages CSV
        a(class='download-button', href='/data/stages.csv') Download
        form(action='stages-csv', method='post', enctype='multipart/form-data')
          input(type='file', name='stages-csv')
          br
          input(type='submit')
      
      div(class='admin-component')
        h2 Other CSV
        a(class='download-button', href='/data/other.csv') Download
        form(action='other-csv', method='post', enctype='multipart/form-data')
          input(type='file', name='other-csv')
          br
          input(type='submit')
    
    div(class='right-content')
      div(class='admin-component')
        h2 Send Push Notification
        form(action='push', method='post')
          textarea(name='push-notification-text', class='push-notification-text')
          br
          input(type='submit')