doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body
    block content
    
    div(class='footer')        
      div(class='contact-information')
        a(href='mailto:vivekseth.m@gmail.com', class='footer-email-link') 
          p For assistance please contact 
            span(class='emphasis') Vivek Seth